Repository Ab2nour/customer-base-analysis: changes, and which lint-staged commands are due for each by the changed paths.
All: poetry run black, poetry run python scripts/clean_notebooks.py

chore: add temp ipynib files to gitignore
  .gitignore
Due: none

docs: improve README
  README.md
  img/mse-rmse-mae-models.png
Due: none

refactor: move all notebooks to src folder
  poetry.lock
  src/01-analyse_exploratoire.ipynb
  src/02-nettoyage.ipynb
  src/03-feature_engineering.ipynb
  src/04-visualisation.ipynb
  src/05-analyse_factorielle.ipynb
  src/06-anova.ipynb
  src/07-clustering.ipynb
  src/08-regressions.ipynb
  src/08a-refonte-regressions.ipynb
  src/08b-bilan-regression.ipynb
  src/09-classification.ipynb
  src/10-experimentations.ipynb
  src/__init__.py
  src/functions.py
Due: poetry run black, poetry run python scripts/clean_notebooks.py

refactor: add constants.py file with column names
  src/01-analyse_exploratoire.ipynb
  src/02-nettoyage.ipynb
  src/04-visualisation.ipynb
  src/05-analyse_factorielle.ipynb
  src/06-anova.ipynb
  src/07-clustering.ipynb
  src/08-regressions.ipynb
  src/08a-refonte-regressions.ipynb
  src/09-classification.ipynb
  src/10-experimentations.ipynb
  src/constants.py
Due: poetry run black, poetry run python scripts/clean_notebooks.py

refactor: update data folder
  src/01-analyse_exploratoire.ipynb
  src/02-nettoyage.ipynb
  src/03-feature_engineering.ipynb
  src/04-visualisation.ipynb
  src/05-analyse_factorielle.ipynb
  src/06-anova.ipynb
  src/07-clustering.ipynb
  src/08-regressions.ipynb
  src/08a-refonte-regressions.ipynb
  src/09-classification.ipynb
  src/10-experimentations.ipynb
Due: poetry run black, poetry run python scripts/clean_notebooks.py

chore(deps): upgrade scikit-learn & imblearn versions
  poetry.lock
  pyproject.toml
Due: none

refactor: create `clustering.py` file
  src/07-clustering.ipynb
  src/clustering.py
Due: poetry run black, poetry run python scripts/clean_notebooks.py

refactor: add variables for one-hot encoding (ohe) in constants.py
  src/constants.py
Due: poetry run black

refactor: create classification.py for classification functions
  src/09-classification.ipynb
  src/classification.py
Due: poetry run black, poetry run python scripts/clean_notebooks.py

docs: add README for src folder
  src/README.md
Due: none

docs: fix typo in README
  README.md
Due: none

docs: add sphinx for building documentation
  .github/workflows/deploy-documentation.yml
  README.md
  docs/Makefile
  docs/README.md
  docs/make.bat
  docs/source/README.md
  docs/source/_static/custom.css
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules.rst
  docs/source/src.rst
  poetry.lock
  pyproject.toml
Due: poetry run black

chore: add assets folder
  README.md
  assets/README.md
  assets/img/mse-rmse-mae-models.png
Due: none

chore: run isort
  scripts/clean_notebooks.py
  src/functions.py
Due: poetry run black

chore(deps): add flake8 & nb-clean
  poetry.lock
  pyproject.toml
Due: none

style: remove empty notebook cells
  src/08a-refonte-regressions.ipynb
  src/08b-bilan-regression.ipynb
  src/09-classification.ipynb
Due: poetry run black, poetry run python scripts/clean_notebooks.py

ci: add basic ci
  .github/workflows/ci.yml
Due: none

chore(deps): update pyproject.toml
  poetry.lock
  pyproject.toml
Due: none

refactor: add notebook utils file
  src/utils.py
Due: poetry run black

refactor: add config file
  src/config.py
Due: poetry run black

docs: add source/docstring folder
  docs/source/README.md
  docs/source/docstring/modules.rst
  docs/source/docstring/src.rst
  docs/source/index.rst
  docs/source/notebooks
Due: none

chore(deps): update seaborn version
  poetry.lock
  pyproject.toml
Due: none

refactor: add seed to config
  src/config.py
Due: poetry run black

refactor(notebook): create src/notebook folder
  src/notebooks/01-analyse-exploratoire.ipynb
  src/notebooks/02-nettoyage.ipynb
  src/notebooks/03-feature-engineering.ipynb
  src/notebooks/04-visualisation.ipynb
  src/notebooks/05-analyse-factorielle.ipynb
  src/notebooks/06-anova.ipynb
  src/notebooks/07-clustering.ipynb
  src/notebooks/08-regressions.ipynb
  src/notebooks/08a-refonte-regressions.ipynb
  src/notebooks/08b-bilan-regression.ipynb
  src/notebooks/09-classification.ipynb
  src/notebooks/10-experimentations.ipynb
Due: poetry run black, poetry run python scripts/clean_notebooks.py

chore(docs): use cache execution mode for MyST NB
  docs/source/conf.py
Due: poetry run black

docs: add all notebooks to Sphinx website
  docs/source/index.rst
Due: none

fix: replace relative import with absolute one
  src/notebooks/07-clustering.ipynb
Due: poetry run black, poetry run python scripts/clean_notebooks.py

docs: add parts to TOC
  docs/source/index.rst
Due: none

Path conditions:
  poetry run black: (any of: *.py) or (any of: *.ipynb)
  poetry run python scripts/clean_notebooks.py: any of: *.ipynb
